<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
      </li>
      <li class="breadcrumb-item active"> Users List</li>
      <%= link_to 'Add New Users', new_user_path, :class=>"btn btn-primary btn-xs pull-right"%>
    </ol>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-users customers-table-users-icon"></i>  Users
            <button class="pull-right btn btn-primary table-print-icon"><i class="fa fa-print"></i></button>
            <button class="pull-right btn btn-primary table-download-icon"><i class="fa fa-download"></i></button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="userList" width="100%" cellspacing="0">
                <thead>
                  <tr class="info">
                    <th>Sl.No.</th>
                    <th>Email Id</th>
                    <th>Account Name</th>
                    <th>Display Name</th>
                    <th>Privilege Set</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%if @all_general_users.present?%>
                    <%@all_general_users.each_with_index do |x,index|%>
                      <%
                        if (index + 1) % 2 == 0
                          class_name = "even"
                        else
                          class_name = "odd"
                        end
                      %>
                      <tr class="<%=class_name%>">
                        <td width="6%"><%=index+1%></td>
                        <td width="22%"><%=x.try(:email)%></td>
                        <td width="22%"><%=x.user_info.try(:account_name)%></td>
                        <td width="22%"><%=x.user_info.try(:display_name)%></td>
                        <td width="22%"><%=x.user_info.try(:privilege_set)%></td>
                        <td width="6%">
                          <%= link_to user_path(x), :title=>"view" do%>
                            <span class="glyphicon glyphicon-eye-open"></span>
                          <%end%>
                          <%=link_to user_path(x), :method => :delete, :class => "delete", data: {confirm: "Are you sure ?"} do%>
                            <span class="glyphicon glyphicon-trash"></span>
                          <%end%>
                        </td>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  td.odd {
    background: #eee !important;
  }
  td.even {
    background: #f9f9f9 !important;
  }
</style>