<div class="content">
    <div class="col-sm-12">
        <%= form_for @general_bill, html: {multipart: true} do |f| %>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <% if @last_bill_number.present? %>
                            <% number = @last_bill_number.number + 1%>
                                <strong><span>Number:<%= :number %></span></strong>
                                <%else%>
                              <span>Number:</span>
                              <%end%>
                                  <%if @all_general_vendor.present?%>
                                  <strong>
                                <span>Bill Number:&nbsp;&nbsp;<%#=@all_general_bills.try(:number)%></span>
                              </strong>
                      <%end%>
                    </div>
                    <div class="col-md-4">
                        <label for="inputType">Vendor</label>
                        <span class="required_field">*</span>
                        <%=f.select :vendor_id, options_for_select(@all_general_vendor.collect{|u| [u.name, u.id]}),{:prompt=>"--Please Select--"}, :class => "form-control", :id=> "select_vendor",:required=>true%>
                    </div>
                    <div class="col-md-4">
                        <label for="inputDate">Date</label>
                        <span class="required_field">*</span>
                        <%=f.date_field :date, :class => "form-control", :placeholder=>"", :id=>"bill_date",:required=>true%>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="inputDate">Eta</label>
                    <%=f.date_field :eta, :class => "form-control", :placeholder=>""%>
                </div>
                <div class="col-md-4">
                    <label for="inputPayment Terms">Payment Terms</label>
                    <span class="required_field">*</span>
                    <%=f.select :vendor_term_id, options_for_select(@all_vendor_term.collect{ |u| [u.term, u.id]}),{:prompt=>"--Please Select--"}, {:class => "form-control",:required=>true}%>

                </div>
                <div class="col-md-4">
                    <label for="inputStatus">Status</label>
                    <span class="required_field">*</span>
                    <%=f.select :bill_status_id, options_for_select(@all_general_bill_status.collect{ |u| [u.name, u.id]}),{:prompt=>"--Please Select--"}, {:class => "form-control" ,:required=>true}%>
                        <%= link_to "Add Status", "#", :class=>"btn btn-primary btn-xs pull-right", :"data-toggle"=>"modal", :"data-target"=>"#billStatus" %>

                </div>
                    <%= f.submit "Submit", :class=>"btn btn-primary"%>
                 <%end%>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 $(document).on('turbolinks:load', function(){
  $("#select_vendor").change(function(){
    var url = '/bills/get_vendors?vendor_id=' + $(this).val();
    $.getJSON(url, function(data) {
      $('#inputAddress1').val(data.address.address_1);
      $('#inputAddress2').val(data.address.address_2);
      $('#inputCountry').val(data.country_name.name);
      $('#inputState').val(data.state_name.name);
      $('#inputCity').val(data.city_name.name);
      $('#inputPhone').val(data.vendor.phone);
      $('#inputemail').val(data.vendor.email);
      });
  });
});
</script>




