<% @general_customer.customer_documents.build if @general_customer.customer_documents.blank?%>
<div class="col-sm-12">
    <%= f.nested_fields_for :customer_documents do |ff|%>
        <div class="col-md-12" style="top:5px;">
          <%=ff.remove_nested_fields_link '', class: 'btn btn-danger pull-right edit-field hide', role: 'button' do%>
            <i class="fa fa-minus-square"></i>
          <%end%><br>
        </div>  
        <div class="form-group">
          <%= ff.label :title%>
          <%= ff.text_field :title, :class=>"form-control edit-field",readonly: true%>
        </div>
        <div class="form-group">
            <%= ff.label :Document_type%>
            <div class="input-group">
                <%= ff.select :document_type_id, options_for_select(@all_customer_document_type.collect{
                |u| [u.name, u.id]},ff.object.document_type_id.present? ? ff.object.document_type_id : ""), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field myModalDocumentType",disabled: "disabled"} %>
            </div>
            <%= link_to "Add Type", "#", class: "btn btn-primary btn-xs pull-right edit-field hide", :"data-toggle"=>"modal", :"data-target"=>"#myModalDocumentType"%> 
        </div>
        <div class="form-group">
          <%= ff.label :document%>
          <%= ff.file_field :document,class: "edit-field",disabled: true%>
        </div>
    <%end%>
    <%=f.add_nested_fields_link :customer_documents,  class: 'btn btn-info edit-field hide', role: 'button' do%>
        <i class="fa fa-plus-square"></i>
    <%end%>
    <div class="form-group">
        <div class ="col-md-12">
          <div class="text-right">
            <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
            <%=f.submit "Submit",:class=>"btn btn-info edit-btn"%>
          </div>
        </div>
    </div>
</div>

