<% @general_customer.customer_contact_methods.build if @general_customer.customer_contact_methods.blank? %>
<%= f.nested_fields_for :customer_contact_methods do |ff|%>
	<div class="form-group">
		<div class="col-md-12" style="top:5px;">
		  <%=ff.remove_nested_fields_link '', class: 'btn btn-danger pull-right edit-field hide', role: 'button' do%>
		    <i class="fa fa-minus-square"></i>
		  <%end%><br>
		</div>
		<div class="col-md-4">
			<%= ff.label :Contact_Type%>
			<span class="required_field">*</span>
			<%= ff.select :contact_method_type_id, options_for_select(@all_customer_method_type.collect{ |u| [u.name, u.id]},ff.object.contact_method_type_id.present? ? ff.object.contact_method_type_id : ""),{:prompt=>"--Please Select--"}, {:class=>"form-control edit-field customerContactMethodType",:disabled=>"disabled",:required=>true} %>
			<%= link_to "Add Type", "#", :class=>"btn btn-primary btn-xs pull-right edit-field hide", :"data-toggle"=>"modal", :"data-target"=>"#customerContactMethodType"%>
		</div>
		<div class="col-md-4">	
			<%= ff.label :phone%>
			<span class="required_field">*</span>
			<%= ff.telephone_field :phone, :class=>"form-control edit-field", :placeholder=>"Enter Your Phone Number",:disabled=>"true",:required=>true%>
		</div>
		<div class="col-md-4">	
			<%= ff.label :email%>
			<span class="required_field">*</span>
			<%= ff.email_field :email, :class=>"form-control edit-field", :placeholder=>"Enter Your Email ID",:disabled=>"true",:required=>true%>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-12">	
			<label>Default</label>
			<%= ff.check_box :is_primary, :class=> "edit-field radio_option_for_customer_contact_method",:disabled=>"true"%>
		</div>
	</div>		
<%end%>
<%=f.add_nested_fields_link :customer_contact_methods,  class: 'btn btn-info edit-field hide', role: 'button' do%>
  <i class="fa fa-plus-square"></i>
<%end%>
<div class="form-group">
  <div class ="col-sm-12">
    <div class="text-right">
      <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
      <%=f.submit "Submit",:class=>"btn btn-info edit-btn"%>
    </div>
  </div>    
</div> 	
<script type="text/javascript">
	$(document).on("click", ".radio_option_for_customer_contact_method", function(){
		$(".radio_option_for_customer_contact_method").prop("checked",false);
		$(this).prop("checked",true);
	});
</script>
