<% @general_customer.customer_related_notes.build if @general_customer.customer_related_notes.blank?%>
<%= f.nested_fields_for :customer_related_notes do |ff|%>
  <div class="form-group">
    <div class="col-md-12">
      <%=ff.remove_nested_fields_link '', class: 'btn btn-danger pull-right', role: 'button' do%>
        <i class="fa fa-minus-square"></i>
      <%end%><br>
    </div>  
    <div class="form-group">
      <%= ff.label :notes%>
      <%= ff.text_area :note, :class=>"form-control"%>
    </div>
  </div>
<%end%>
<%=f.add_nested_fields_link :customer_related_notes,  class: 'btn btn-info', role: 'button' do%>
  <i class="fa fa-plus-square"></i>
<%end%>
