    <!-- https://bootsnipp.com/snippets/featured/credit-card-payment-with-stripe -->
<div class="container">
  <div class="row">
      <!-- You can make it whatever width you want. I'm making it full width
           on <= small devices and 4/12 page width on >= medium devices -->
    <div class="col-xs-12 col-md-4 creditCard">
      <!-- CREDIT CARD FORM STARTS HERE -->
      <div class="panel panel-default credit-card-box">
        <div class="panel-heading display-table" >
          <div class="row display-tr" >
            <h3 class="panel-title display-td" >Payment Details</h3>
            <div class="display-td" >
                <%=image_tag("accepted_c22e0.png")%>      <!-- <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png"> -->
            </div>
          </div>                    
        </div>
        <div class="panel-body">
          <!-- <form role="form" id="payment-form" method="POST" action="javascript:void(0);"> -->
          <% ff.object.build_credit_card_detail unless ff.object.credit_card_detail%>
          <%= ff.fields_for :credit_card_detail do |credit_card|%>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">CARD HOLDER'S NAME</label>
                  <div class="input-group">
                    <%=credit_card.text_field :name, class: "form-control", placeholder: "Card Holder's Name", autofocus:true %>
                    <!-- <input 
                        type="tel"
                        class="form-control"
                        name="cardNumber"
                        placeholder="Card Holder's Name"
                        autocomplete="cc-holder" autofocus 
                    /> -->
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  </div>
                </div>                             
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">CARD NUMBER</label>
                  <div class="input-group">
                    <%=credit_card.number_field :card_number, class: "form-control", placeholder: "Valid Card Number", autofocus:true %>
                    <!-- <input 
                        type="tel"
                        class="form-control"
                        name="cardNumber"
                        placeholder="Valid Card Number"
                        autocomplete="cc-number" autofocus 
                    /> -->
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                  </div>
                </div>                            
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                  <%=credit_card.text_field :date, class: "form-control", placeholder: "MM / YY", autofocus:true %>
                  <!-- <input 
                      type="tel" 
                      class="form-control" 
                      name="cardExpiry"
                      placeholder="MM / YY"
                      autocomplete="cc-exp" 
                  /> -->
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                    <label for="cardCVC">CARD CVC</label>
                     <%=credit_card.number_field :card_cvc, class: "form-control", placeholder: "CVC", autofocus:true %>
                    <!-- <input 
                        type="tel" 
                        class="form-control"
                        name="cardCVC"
                        placeholder="CVC    "
                        autocomplete="cc-csc"
                    /> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <!-- <button class="subscribe btn btn-success btn-lg btn-block" type="button">SUBMIT</button>
              </div> -->
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          <%end%>  
          <!-- </form> -->
        </div>
      </div>            
      <!-- CREDIT CARD FORM ENDS HERE -->
    </div>            
  </div>
</div>
<style type="text/css">
    /* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
</style>
