<div class="panel">
    <div class="panel-body">
        <div class="content">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="inputName">Name</label>
                            <span class="required_field">*</span>
                            <%=f.text_field :name, :class => "form-control edit-field", :placeholder=>"Name", :readonly=> true, required: true %>
                        </div>
                        <div class="col-md-4">
                            <label for="inputType">Address</label>
                            <span class="required_field">*</span>
                            <%=f.text_field :address, :class => "form-control edit-field", :placeholder=>"enter address", :readonly=> true, required: true%>
                        </div>
                        <div class="col-md-4">
                            <%= f.label :Country%>
                                <%= f.select :country_id, options_for_select(@all_preference_country.collect{
                |u| [u.name, u.id]},f.object.country_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field select-address-country", :disabled=> "disabled"}%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.label :State%>
                            <%@all_preference_state = f.object.country.present? ? f.object.country.states : State.all%>
                                <%= f.select :state_id, options_for_select(@all_preference_state.collect{
                |u| [u.name, u.id]}, f.object.state_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field select-State", :disabled=> "disabled"}%>
                        </div>
                        <div class="col-md-4">
                            <%= f.label :City%>
                            <%@all_preference_city = f.object.state.present? ? f.object.state.cities : City.all%>
                                <%= f.select :city_id, options_for_select(@all_preference_city.collect{
                |u| [u.name, u.id]}, f.object.city_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field select-city", :disabled=> "disabled"} %>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUrl">Zip code</label>
                            <span class="required_field">*</span>
                            <%=f.text_field :pin_code, :class => "form-control edit-field", :placeholder=>"enter pin code", :readonly=> true, required: true%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="inputStatus">Phone</label>
                            <span class="required_field">*</span>
                            <%= f.telephone_field :phone, :class=>"form-control edit-field", :placeholder=>"Enter Your Phone Number", :readonly=> true, required: true%>
                        </div>
                        <div class="col-md-4">
                            <label for="inputStatus">Fax</label>
                            <%=f.text_field :fax, :class => "form-control edit-field", :placeholder=>"enter fax", :readonly=> true%>
                        </div>
                        <div class="col-md-4">
                            <label for="inputStatus">Email</label>
                            <span class="required_field">*</span>
                            <%= f.email_field :email, :class=>"form-control edit-field", :placeholder=>"Enter Your Email ID", :readonly=> true, required: true%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputUrl">Url</label>
                            <%=f.url_field :url, :class => "form-control edit-field ", :placeholder=>"Enter url", :readonly=> true%>
                        </div>
                        <div class="col-md-6">
                            <label for="inputLogo">Logo</label>
                            <%= f.file_field :logo,class: "edit-field",  :disabled => true%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text-right">
                    <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
                        <%=f.submit "Submit",:class=>"btn btn-info edit-btn"%>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".edit_button").click(function() {
        //alert("hello");
        $(".edit-field").prop("readonly", false);
        $(".edit-field").prop("disabled", false);
    });
});
</script>
<script type="text/javascript">
   //here we are getting state wise country
   // $(document).on('turbolinks:load', function(){
   $(document).on("change",".select-address-country",function(){
      var url = '/companies/get_state?country_id=' + $(this).val()
      //$(".city_drop_down").removeOption(/./);
      // $.get(url, function(data) {
      //    $('.city_drop_down').addOption(data, false);
      //  });
      //alert("hello");
      $.getJSON(url, function(data) {
        // $('.select-State').html('<option>--Select State--</option>');
        $.each(data, function(index, state) {   
          //alert(caste.name);
           $('.select-State').append($('<option>', { value : state.id }).text(state.name)); 
        });
      });
   });
   //here we are getting cities wise state
   $(document).on("change",".select-State",function(){
      var url = '/companies/get_city?state_id=' + $(this).val()
      //$(".city_drop_down").removeOption(/./);
      // $.get(url, function(data) {
      //    $('.city_drop_down').addOption(data, false);
      //  });
      //alert("hello");
      $.getJSON(url, function(data) {
        // $('.select-city').html('<option>--Select City--</option>');
        $.each(data, function(index, city) {   
          //alert(caste.name);
           $('.select-city').append($('<option>', { value : city.id }).text(city.name)); 
        });
      });
   });
</script>