<div class="row">
    <!-- Companies User Tables -->
    <div class="col-md-12 col-xs-12">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-users vendors-table-users-icon"></i>Users
                <button class="pull-right btn btn-primary table-print-icon"><i class="fa fa-print"></i></button>
                <button class="pull-right btn btn-primary table-download-icon"><i class="fa fa-download"></i></button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="preferenceUserList" width="100%" cellspacing="0">
                        <thead>
                            <tr class="info">
                                <th>Email Id</th>
                                <th>Account Name</th>
                                <th>Display Name</th>
                                <th>Privilege Set</th>
                            </tr>
                        </thead>
                            <tfoot>
                                <tr class="info">
                                    <th>Email Id</th>
                                    <th>Account Name</th>
                                    <th>Display Name</th>
                                    <th>Privilege Set</th>
                                </tr>
                            </tfoot>
                        <tbody>
                            <%if @all_general_company.present?%>
                                <tr>
                                    <td><%=@all_general_company.users.last.try(:email) %></td>
                                    <td><%=@all_general_company.users.last.user_info.try(:account_name) %></td>
                                    <td><%=@all_general_company.users.last.user_info.try(:display_name) %></td>
                                    <td><%=@all_general_company.users.last.user_info.try(:privilege_set) %></td>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
            <%if @all_general_company.present?%>
                <div class="card-footer small text-muted"><%= time_ago_in_words(Company.last.created_at)%></div>
            <%end%>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#preferenceUserList').DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
    });
</script>