<div class="panel">
    <div class="panel-body">
        <div class="content">
            <% @general_vendor.vendor_locations.build if @general_vendor.vendor_locations.blank?%>
                <div class="col-sm-12">
                    <%= f.nested_fields_for :vendor_locations do |ff|%>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <%= ff.label :name%>
                                    <span class="required_field">*</span>
                                        <%= ff.text_field :name, :class=>"form-control edit-field", :placeholder=>"Enter Your name",:readonly => true,:required=>true%>
                                </div>
                                <div class="col-md-4">
                                    <%= ff.label :address_line_1%>
                                    <span class="required_field">*</span>
                                        <%= ff.text_field :address_1, :class=>"form-control edit-field", :placeholder=>"Enter Your Address",:readonly => true,:required=>true%>
                                </div>
                                <div class="col-md-4">
                                    <%= ff.label :address_line_2%>
                                        <%= ff.text_field :address_2, :class=>"form-control edit-field ", :placeholder=>"Enter Your Address",:readonly => true%>
                                </div>
                                <!-- <div class="col-md-4">
                                    <%#= ff.label :attn%>
                                    <span class="required_field">*</span>
                                        <%#= ff.select :vendor_person_id, options_for_select(@all_vendor_person.collect{
            |u| [u.first_name, u.id]}, ff.object.vendor_person_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field",:disabled=>"disabled",:required=>true}%>
                                </div> -->
                            </div>
                        </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <%= ff.label :Country%>
                                <span class="required_field">*</span>
                                    <%= ff.select :country_id, options_for_select(@all_vendor_country.collect{
                |u| [u.name, u.id]}, ff.object.country_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field select-address-country",:disabled=>"disabled",:required=>true}%>
                            </div>
                            <div class="col-md-4">
                                <%= ff.label :State%>
                                <span class="required_field">*</span>
                                    <%= ff.select :state_id, options_for_select(@all_vendor_state.collect{
                |u| [u.name, u.id]},ff.object.state_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field  select-State",:disabled=>"disabled",:required=>true}%>
                            </div>
                            <div class="col-md-4">
                              <%= ff.label :City%>
                              <span class="required_field">*</span>
                              <%= ff.select :city_id, options_for_select(@all_vendor_city.collect{
                              |u| [u.name, u.id]}, ff.object.city_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field select-city",:disabled=>"disabled",:required=>true} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row">                            
                            <div class="col-md-4">
                                <%= ff.label :phone%>
                                <span class="required_field">*</span>
                                    <%= ff.telephone_field :phone, :class=>"form-control edit-field", :placeholder=>"Enter Your Phone",:readonly => true,:required=>true%>
                            </div>
                            <div class="col-md-4">
                                <%= ff.label :zipcode%>
                                <span class="required_field">*</span>
                                    <%= ff.number_field :zipcode, :class=>"form-control edit-field ", :placeholder=>"Enter Your zipcode",:readonly => true%>
                            </div>
                            <div class="col-md-4">
                                <%= ff.label :Default%>
                                    <%= ff.check_box :is_primary, :class=>"radio_option_for_vendor_location",:readonly => true%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-right">
                        <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
                            <%=ff.submit "Submit",:class=>"btn btn-info edit-btn"%>
                    </div>
                </div>
                <%end%>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".edit_button").click(function() {
        //alert("hello");
        $(".edit-field").prop("readonly", false);
        $(".edit-field").prop("disabled", false);
        $(".edit-field").removeClass("hide");
    });
});
</script>
<script type="text/javascript">
$(document).on("click", ".radio_option_for_vendor_location", function(){
$(".radio_option_for_vendor_location").prop("checked",false);
$(this).prop("checked",true);
});
</script>
  <script type="text/javascript">
   //here we are getting state wise country
   $(document).on("change",".select-address-country",function(){
      var url = '/customers/get_state?country_id=' + $(this).val()
      var object = $(this);
      $.getJSON(url, function(data) {
        object.parent().parent().parent().find('.select-State').html('<option>--Select State--</option>');
        $.each(data, function(index, state) {   
          //alert(caste.name);
          // object.parent().parent().find('.select-State1').hide("slow");
           object.parent().parent().parent().find('.select-State').append($('<option>', { value : state.id }).text(state.name)); 
        });
      });
    });
   //here we are getting cities wise state
    $(document).on("change",".select-State",function(){
      var url = '/customers/get_city?state_id=' + $(this).val()
      var object = $(this);
      $.getJSON(url, function(data) {
        object.parent().parent().parent().find('.select-city').html('<option>--Select City--</option>');
        $.each(data, function(index, city) {   
          //alert(caste.name);
           object.parent().parent().parent().find('.select-city').append($('<option>', { value : city.id }).text(city.name)); 
        });
      });
    });
</script>