<div class="row">
	<% @general_vendor.vendor_contact_methods.build if @general_vendor.vendor_contact_methods.blank?%>
	<div class="col-sm-12">
		<%= f.nested_fields_for :vendor_contact_methods do |ff|%>
			<div class="form-group pull-right">
		        <%=ff.remove_nested_fields_link '', class: 'btn btn-danger', role: 'button' do%>
		        <i class="fa fa-minus-square"></i>
		        <%end%>
         	</div>
			<div class="form-group">
				<%= ff.label :type%>
				 <span class="required_field">*</span>
				<%= ff.select :contact_method_type, options_for_select([["Work","work"],["Home","home"], ["Fax" , "fax"], ["Mobile", "mobile" ], ["Pager", "pager"],["Direct", "direct"], ["Main", "main"], ["Sales", "sales"], ["Help","help"]], ff.object.contact_method_type),{:prompt=>"--Please Select--"}, {:class=>"form-control",:required=>true} %>
			</div>
			<div class="form-group">
				<%= ff.label :phone%>
				 <span class="required_field">*</span>
				<%= ff.telephone_field :phone, :class=>"form-control", :placeholder=>"Enter Your Phone Number",:required=>true%>
			</div>
			<div class="form-group">
				<%= ff.label :email%>
				 <span class="required_field">*</span>
				<%= ff.email_field :email, :class=>"form-control", :placeholder=>"Enter Your Email ID",:required=>true%>
			</div>
			<div class="form-group">
				<%= ff.label :Default%>
				<%= ff.check_box :is_primary, :class=>"radio_option_for_vendor_contact_method"%>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<%#= ff.submit "Contact Save", :class=>"btn btn-primary"%>
				</div>
			</div>
		<%end%>
	</div>
</div>
<%=f.add_nested_fields_link :vendor_contact_methods,  class: 'btn btn-info', role: 'button' do%>
     <i class="fa fa-plus-square"></i>
<%end%>
<script type="text/javascript">
$(document).on("click", ".radio_option_for_vendor_contact_method", function(){
$(".radio_option_for_vendor_contact_method").prop("checked",false);
$(this).prop("checked",true);
});
</script>