<div class="panel">
    <div class="panel-body">
        <div class="content">
            <% @general_vendor.vendor_persons.build if @general_vendor.vendor_persons.blank?%>
                <div class="col-sm-12">
                    <%= f.nested_fields_for :vendor_persons do |ff|%>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <%= ff.label :first_name%>
                                    <!-- <span class="required_field">*</span> -->
                                        <%= ff.text_field :first_name, :class=>"form-control edit-field", :placeholder=>"Enter First Name",:readonly => true%>
                                </div>
                                <div class="col-md-4">
                                    <%= ff.label :last_name%>
                                        <%= ff.text_field :last_name, :class=>"form-control edit-field", :placeholder=>"Enter Last Name",:readonly => true%>
                                </div>
                                <div class="col-md-4">
                                <%= ff.label :salutation%>
                                <!-- <span class="required_field">*</span> -->
                                    <%= ff.select :salutation, options_for_select([["Mr.","mr."],["Mrs.","mrs."]],ff.object.salutation),{:prompt=>"--Please Select--"},{:class=>"form-control edit-field",:disabled=>"disabled"} %>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <%= ff.label :title%>
                                    <%= ff.text_field :title, :class=>"form-control edit-field", :placeholder=>"Enter Title",:readonly => true%>
                            </div>
                            <div class="col-md-4">
                                <%= ff.label :status%>
                                <!-- <span class="required_field">*</span> -->
                                    <%= ff.select :status, options_for_select([["Active","active"],["Inactive","inactive"]],ff.object.status),{:prompt=>"--Please Select--"}, {:class=>"form-control edit-field",:disabled=>"disabled"} %>
                            </div>
                            <div class="col-md-4">
                                <%= ff.label :department%>
                                <%= ff.text_field :department, :class=>"form-control edit-field", :placeholder=>"Enter department",:readonly => true%>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Contact Methods -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title text-center">Contact Methods</h4>
    </div>
</div>
<% ff.object.vendor_people_contact_methods.build if ff.object.vendor_people_contact_methods.blank?%>
<div class="panel-body">
    <%= ff.nested_fields_for :vendor_people_contact_methods do |fff|%>
     <div class="form-group pull-right">
            <%=fff.remove_nested_fields_link '', class: 'btn btn-danger edit-field hide', role: 'button' do%>
            <i class="fa fa-minus-square"></i>
            <%end%>
     </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">

                    <div class="col-md-6">
                        <%= fff.label :type%>
                            <%= fff.select :contact_method_type, options_for_select([["Work","work"],["Home","home"], ["Fax" , "fax"], ["Mobile", "mobile" ], ["Pager", "pager"]],fff.object.contact_method_type),{:prompt=>"--Please Select--"}, {:class=>"form-control edit-field",:disabled=>"disabled"} %>
                    </div>
                    <div class="col-md-6">
                        <%= fff.label :phone%>
                            <%= fff.telephone_field :phone, :class=>"form-control edit-field", :placeholder=>"Enter Phone",:readonly => true%>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <%= fff.label :email%>
                            <%= fff.email_field :email, :class=>"form-control edit-field", :placeholder=>"Enter Email",:readonly => true%>
                    </div>
                    <div class="col-md-6">
                        <%= fff.label :Default%>
                            <%= fff.check_box :is_primary, :class=>"radio_option_for_vendor_people edit-field",:disabled => true%>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
        <%=ff.add_nested_fields_link :vendor_people_contact_methods,  class: 'btn btn-info edit-field hide ', role: 'button' do%>
            <i class="fa fa-plus-square"></i>
            <%end%>
            <div class="col-sm-12">
                <div class="text-right">
                <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
                    <%=ff.submit "Submit",:class=>"btn btn-info edit-btn"%>
                </div>
        </div>
    <%end%>
</div>



<script type="text/javascript">
$(document).ready(function() {
    $(".edit_button").click(function() {
        //alert("hello");
        $(".edit-field").prop("readonly", false);
        $(".edit-field").prop("disabled", false);
        $(".edit-field").removeClass("hide");
    });
});
</script>
<script type="text/javascript">
$(document).on("click", ".radio_option_for_vendor_people", function(){
$(".radio_option_for_vendor_people").prop("checked",false);
$(this).prop("checked",true);
});
</script>