<div class="row">
    <% @general_vendor.vendor_documents.build if @general_vendor.vendor_documents.blank?%>
        <div class="col-sm-12">
            <%= f.nested_fields_for :vendor_documents do |ff|%>
            <div class="form-group pull-right">
                <%=ff.remove_nested_fields_link '', class: 'btn btn-danger edit-field hide', role: 'button' do%>
                <i class="fa fa-minus-square"></i>
                <%end%>
                </div>
                <div class="form-group">
                    <%= ff.label :title%>
                        <%= ff.text_field :title, :class=>"form-control edit-field", :placeholder=> "enter title",:readonly => true%>
                </div>
                <div class="form-group">
                    <%= ff.label :type%>
                        <%= ff.select :document_type_id, options_for_select(@all_vendor_document_type.collect{
                    |u| [u.name, u.id]}, ff.object.document_type_id), {:prompt=>"--Please Select--"}, {:class=>"form-control edit-field", :disabled=>"disabled"} %>
                            <%= link_to "Add Type", "#", :class=>"btn btn-primary btn-xs pull-right edit-field hide", :"data-toggle"=>"modal", :"data-target"=>"#vendorDocumentType"%>
                </div>
                <div class="form-group">
                    <%= ff.label :document%>
                        <%= ff.file_field :document_file,:readonly => true%>
                </div>
                 <%end%>
                 <%=f.add_nested_fields_link :vendor_documents,  class: 'btn btn-info edit-field hide', role: 'button' do%>
                    <i class="fa fa-plus-square"></i>
                    <%end%>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right">
                            <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
                            <%=f.submit "Submit",:class=>"btn btn-info edit-btn"%>
                        </div>
                    </div>
                </div>
               
        </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".edit_button").click(function() {
        //alert("hello");
        $(".edit-field").prop("readonly", false);
        $(".edit-field").prop("disabled", false);
        $(".edit-field").removeClass("hide");
    });
});
</script>