<% @general_product.product_sales.build if @general_product.product_sales.blank?%>
<div class="col-sm-12">
  <%= t.nested_fields_for :product_sales do |ff|%>
      <div class="form-group">
        <label for="reorder">Reorder when at or below</label>
        <%=ff.date_field :reorder_when_at_or_below, :class => "form-control edit-field", :placeholder=>"date" , disabled: true%>
      </div>
      <div class="form-group">
        <label for="reqty">Reorder Quantity</label>
        <%=ff.number_field :reorder_qty, :class => "form-control edit-field", :placeholder=>"year", disabled: true %>
      </div>
     
      <!-- <button class="btn btn-info">Submit</button> -->
  <%end%>
</div>  
<div class="form-group">
    <div class ="col-sm-12" style="top:5px;">
        <div class="text-right">
          <%=link_to "Edit","javascript:void(0)",:class=>"btn btn-success edit_button"%>
          <%=t.submit "Submit",:class=>"btn btn-info edit-btn", style:"margin-left:0px;"%>
        </div>
    </div>    
</div>    