<!-- <div class="modal fade bar" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="margin-top: 100px;">
        <div class="modal-content item-modal" id="barcode">
            <br>
            <div class="modal-header modal-header-info" >
                <h2>Inventory</h2>
            </div>
            <div class="bs-example bs-example-tabs"> -->
               <!--  <ul id="myTab" class="nav nav-tabs" style="font-size: 25px;"> -->
                    
                  <!--  <li class=""><a href="#bar" data-toggle="tab">Add</a> </li> -->
                <!--  </ul>  -->
           <!--  </div>
            <div class="modal-body" >
            
                <div id="myTabContent" class="tab-content">
               <%#@general_product.inventories.build if @general_product.inventories.blank?%>
                   <%#=t.nested_fields_for :inventories do |ff|%>
                        <div class="tab-pane fade active in" id="barcode" > 
                            <form class="form-horizontal">
                                <fieldset> -->
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                   
                                   
                                   <!--  <div class="control-group">
                                        <label class="control-label" for="orderfilter">Date of Purchase</label>
                                        <span class="required_field">*</span>
                                        <div class="controls">
                                           <%=ff.date_field :date, :class => "form-control", :placeholder=>"",:required=>true %>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderfilter">Purchase cost</label>
                                        <span class="required_field">*</span>
                                        <div class="controls">
                                            <%=ff.number_field :purchase_cost, :class => "form-control", :placeholder=>"cost",:required=>true %>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderfilter">Year placed in Svc</label>
                                        <span class="required_field">*</span>
                                        <div class="controls">
                                            <%=ff.text_field :year_placed_in_svc, :class => "form-control", :placeholder=>"years" ,:required=>true,:required=>true%>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderfilter">Depreciation years</label>
                                        <span class="required_field">*</span>
                                        <div class="controls">
                                           <%=ff.text_field :depreciation_year, :class => "form-control", :placeholder=>"years",:required=>true %>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="orderfilter">Approx Value</label>
                                        <span class="required_field">*</span>
                                        <div class="controls">
                                           <%=ff.number_field :approx_value, :class => "form-control", :placeholder=>"value",:required=>true %>
                                        </div>
                                    </div>
                                    <br> -->
                                    
                                   <!--  <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                             <%#= ff. "Cancel", :class=>"btn btn-danger"%>
                                        </div>
                                    </div> -->

                           <!--        
                            </fieldset>
                        </form>
                    </div>
                    
                </div>
                
            <div class="modal-footer">
                <div class="control-group">
                    <label class="control-label" for="confirmsignup"></label>
                    <div class="controls pull-right">
                        <%= ff.submit "Submit", :class=>"btn btn-info"%>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>
</div> -->

